.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.625rem 1rem;
  border-radius: 0.75rem;
  font-weight: 500;
  font-family: inherit;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #ffffff;

  &.light {
    background-color: var(--green-500);

    &:hover {
      background-color: var(--green-600);
    }
  }

  &.dark {
    background-color: #15803d;

    &:hover {
      background-color: var(--green-600);
    }
  }
}

.icon {
  width: 1rem;
  height: 1rem;
}
